<%= @winner.name %> is the winner!
<br>
<%= @loser.name %> is the loser boooooooooooooooooooooooo
<br>
<%= @game.winning_time %>
<br>
View your stats here. FOREVER!  <a href="/game/<%= @game.id %>">/game/<%= @game.id%></a>

